<!DOCTYPE html>
<html>
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
          <tr>
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
          </tr>
          <tr th:object="${shows[0]}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${shows[1]}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${shows[2]}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${shows[3]}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${shows[4]}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
        </table>        
    </body>
</html>