<!DOCTYPE HTML>
<html>
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet" />
  </head>    
  <body>
    <div class="topnav">
      <a th:href="@{/}">Form</a>
      <a th:href="@{/grades}">Grades</a>
    </div>
    <div class="container">
      <h2> Grade Portal </h2>
      <form method="post" th:object="${gradeForm}" th:action="@{/submitGrade}">
        <input type="hidden" th:field="*{id}">
        <input type="text" placeholder="Name" th:field="*{name}">
        <input type="text" placeholder="Subject" th:field="*{subject}">
        <input type="text" placeholder="Score" th:field="*{score}">
        <div class="checkDiv">
          <input type="checkbox" th:field="*{submittingAgain}">
          <label>Submit another</label>
        </div>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>