<!DOCTYPE html>
<html>
  <head>
    <title>Sales Records</title>
  </head>
  <body>
    <h2>Sales Records</h2>
    <table border="solid" width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Revenue</th>
          <th>Cost</th>
          <th>Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          th:each="record: ${salesRecords}"
          th:style="${record.revenue >= record.cost ? 'background-color:green;' : 'background-color:red;'}"
        >
          <td th:text="${record.item}"></td>
          <td th:text="${#numbers.formatCurrency(record.revenue)}"></td>
          <td th:text="${#numbers.formatCurrency(record.cost)}"></td>
          <td
            th:text="${#numbers.formatCurrency(record.revenue - record.cost)}"
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
